nav.navbar{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}
div.navbar-div{
  margin-top: 1vh;
  width: 100%;
  text-align: center;
}
div.navbar-div a{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Navbar-link:hover{
  color: grey;
}
section.welcome{
  height: 100vh;
  text-align: center;
}
h1.welcome-h1{
  padding-top: 10vh;
}
img.PP-Seb{
  height: 300px;
  width: 300px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
p.welcome-p{
  text-align: center;
}
table.languages{
  margin: auto;
}
span.L-Not-learnt{
  margin-left: 10%;
  color: grey;
}
span.L-learning{
  margin-left: 10%;
  color: orangered;
}
span.L-learnt{
  margin-left: 10%;
  color: green;
}
section.about{
  height: 100vh;
  text-align: center;
}
h1.about-h1{
  padding-top: 10vh;
}
section.contact{
  height: 100vh;
  text-align: center;
}
h1.contact-h1{
  padding-top: 10vh;
}
