nav.navbar{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
}
div.navbar-div{
  margin-top: 1vh;
  width: 100%;
  text-align: center;
}
div.navbar-div a{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Navbar-link:hover{
  color: #87CEEB;
}

img.PP-Seb{


}





div.body-main{
  padding-top: 10vh;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Control the left side */
.About{
  left: 0;
  background-color: #111;
  text-align: center;
}
/* Control the right side */
.Contact{
  right: 0;
  background-color: red;
}

